body {
  background: #666;
  font-family: verdana;
  margin: 0;
  padding: 0;
}
canvas {
  border: 1px solid black;
}
.experiments-loader {
  position: absolute;
  background: rgba(50,50,50,0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.experiments-loader.complete {
  opacity: 0;
}
.experiments-loader .experiments-loader-graph {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 20%;
  height: 10px;
  margin-top: -8px;
  background: rgba(0,0,0,0.3);
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 4px;
}
.experiments-loader .experiments-loader-graph .experiments-loader-graph-bar {
  background: #eee;
  height: 10px;
  border-radius: 2px;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
#progress {
  transition: width 0.3s ease;
}
.exp {
  line-height: 20px;
  margin: 4px;
  background: #fff;
  border: none;
  color: #000;
}
@media (min-width: 500px) {
  .exp {
    line-height: 40px;
    font-size: 15px;
  }
}
