body {
  background: #666;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.experiments-loader {
  position: absolute;
  background: rgba(50,50,50,0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
}
.experiments-loader.complete {
  opacity: 0;
}
.experiments-loader .experiments-loader-graph {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 20%;
  height: 10px;
  margin-top: -8px;
  background: rgba(0,0,0,0.3);
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 4px;
}
.experiments-loader .experiments-loader-graph .experiments-loader-graph-bar {
  background: #eee;
  height: 10px;
  border-radius: 2px;
  transition: width 0.2s ease-out;
}
#progress {
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  height: 10px;
  position: absolute;
  transition: width 0.3s ease-out, height 0.5s ease-in;
  width: 0;
  z-index: 100;
}
.exps-buttons {
  background: rgba(255,255,255,0.9);
  opacity: 0;
  position: absolute;
  right: 0;
  top: -20px;
  transition: top 0.2s ease-in, opacity 0.3s linear;
}
.exps-buttons.interacted {
  top: 0;
  opacity: 1;
}
.exps-buttons .exps-button {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 10px;
  height: 22px;
  padding: 4px 6px;
}
.exp {
  background: rgba(255,255,255,0.9);
  border: none;
  color: #000;
  line-height: 20px;
  margin: 4px;
}
.exps-info {
  background: rgba(255,255,255,0.9);
  box-sizing: border-box;
  height: 0%;
  left: 10%;
  opacity: 0;
  padding: 5%;
  position: absolute;
  top: -100%;
  transition: top 0.5s ease-in-out, opacity 0.3s linear, height 0.3s linear;
  width: 80%;
}
.exps-info.displayed {
  display: block;
  height: 80%;
  opacity: 1;
  top: 10%;
}
.exps-info h1 {
  color: #333;
  margin-top: 0;
}
.exps-info h4 {
  text-transform: uppercase;
  martin-top: 0;
  color: #666;
}
.exps-info a,
.exps-info a:visited {
  color: #000;
}
.exps-info .exps-info-details {
  overflow-x: hidden;
  overflow-y: auto;
  color: #000;
  height: 100%;
}
@media (max-width: 900px) {
  .exp {
    line-height: 40px;
    font-size: 15px;
  }
  .exps-buttons {
    top: -40px;
  }
  .exps-buttons .exps-button {
    font-size: 20px;
    height: 40px;
    padding: 8px 12px;
  }
}
