body {
  overflow: hidden;
  font-family: verdana;
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  cursor: pointer;
}
.preview {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}
.preview .title {
  margin-bottom: 10px;
}
.preview .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.preview .css {
  font-family: monospace;
  word-break: break-all;
}
.buttons {
  position: absolute;
  left: 20px;
}
.buttons.top {
  top: 20px;
}
.buttons.bottom {
  bottom: 20px;
}
.button {
  background: rgba(0,0,0,0.5);
  color: #fff;
  border-radius: 5px;
  padding: 7px 10px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}
.button:hover {
  background: rgba(0,0,0,0.8);
}
.pattern {
  position: absolute;
  right: 20px;
  top: 20px;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.palette {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}
.palette .colour {
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  line-height: 50px;
  text-shadow: 1px 1px 4px #000;
}
