blackAlpha = rgba(0,0,0,0.5)
blackAlphaOver = rgba(0,0,0,0.8)

body
  overflow hidden
  font-family verdana
  margin 0
  padding 0

.container
  position relative
  cursor pointer

.preview
  position absolute
  top 25%
  left 25%
  width 50%
  height 50%
  padding 10px
  margin-left -10px
  margin-right -10px
  background blackAlpha
  border-radius 10px
  color white
  overflow-x hidden
  overflow-y scroll
  .title
    margin-bottom 10px
  .close
    position absolute
    top 10px
    right 10px
  .css
    font-family monospace
    word-break break-all

.buttons
  position absolute
  left 20px
  &.top
    top 20px
  &.bottom
    bottom 20px

.button
  background blackAlpha
  color white
  border-radius 5px
  padding 7px 10px
  margin-right 10px
  display inline-block
  cursor pointer
  &:hover
    background blackAlphaOver

.pattern
  position absolute
  right 20px
  top 20px
  background blackAlpha
  border-radius 5px
  padding 5px
  cursor pointer


.palette
  position absolute
  right 20px
  bottom 20px
  background blackAlpha
  color white
  border-radius 5px
  padding 5px
  margin-right 10px
  display inline-block
  cursor pointer

  .colour
    width 100px
    height 50px
    // float left
    text-align center
    font-size 10px
    line-height 50px
    text-shadow 1px 1px 4px #000